@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1e2139;
}

.page {
    width: 95vw;
    max-width: 100rem;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 2rem;
}

.header {
    font-size: 2rem;
    text-align: left;
    padding: 2rem;
    padding-left: 0.75rem;
}

.warning {
    text-align: center;
    color: red;
    font-size: 2rem;
}

.item {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
}

.index, .title {
    padding: 0.75rem;
}